*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    padding: 0 148px;
    margin-bottom: 150px;
}

.container{
    display: flex;
    padding: 0 148px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.logo_main{
    display: flex;
    gap: 200px;
}
.logo{
    display: flex;
    gap: 16px;
}
.logo img{
    width: 40px;
    height:36px ;
}
.logo h1{
    color: #173A56;
    font-family: 'Poppins', sans-serif;
    width: 124px;
}
nav{
    display: flex;
    gap: calc(8.1vw + 86.87px);
}
.menu{
    display: flex;
    gap: 12px;
    padding: 12px;
}
.menu a{
    text-decoration: none;
    color: grey;
   
}
nav a:hover{
    color: black;
}

.logo_sign {
   display: flex;
   gap:calc(1.2vw + 7.03px);
}
.logo_sign a:nth-child(1){
    padding: 12px 24px;
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    border-radius: 7px;
}
.logo_sign a:nth-child(1):hover{
    color: grey;
    border: grey;
}
.green{
    padding: 12px 14px;
    text-decoration: none;
    color: #fff;
    background-color: #02897A;
    border: #02897A solid 2px;
    border-radius: 7px;
}
.dark{
    margin-top: 12px;
}
.burger{
    display: none;
}
.opened {
    display: none;
    background-color: #22343D;
    width: 100px;
    margin-left: 75vw;
}

.close {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}
/*my product*/
.myproduct{
    margin-top: calc(-0.7vw + 35px);
}
.main_product{
    display: flex;
    justify-content: space-between;
}
.product_info{
    margin-top:calc(12.6vw - 39.7px);
}
.product_info h1{
    font-size: calc(0.4vw + 34.34px);
    font-weight: bold;
    font-family: 'Popppins',sans-serif;
}
.product_info p{
    width: calc(9.2vw + 325.2px);
    font-size: 18px;
    font-family: 'Popppins',sans-serif;
    margin-top: calc(0.4vw + 14.4px);
}
.product_button{
    display: flex;
    gap: 30px;
    margin-top: calc(1.3vw + 26.8px);
}
.product_button button{
    font-size: 16px;
    font-weight: bold;
    background-color: #02897A;
    border: 1px solid #02897A;
    color: #fff;
    padding: 16px 40px;
}
.video a{
    color: #02897A;
    text-decoration: underline;
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight:bold;
}
.video img{
    width: 20px;
    height: 17px;
}
.video{
    display: flex;
    gap: 8.5px;
    margin-top: 18px;
}
.product_img img{
    width: calc(23vw + 282.06px);
}

/*build*/
.build{
    background-image: url(img/Bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_build{
    display: flex;
    justify-content: space-between;
    margin-top: calc(1.6vw + 43.6px);
}
.build h2{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #22343D;
}
.app_build_name{
    display: none;
}
.build_card{
    width: 240px;
}
.build_card h3{
    margin-top: calc(0.6vw + 21.6px);
    font-weight: bolder;
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    color: #22343D;
}
.build_card p{
    margin-top: calc(0.5vw + 6.01px);
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
}
.Built_btn{
    text-align: center;
    margin-top: 34px;
}
.build button{
    padding: 15px 32px;
    border: 1px solid #02897A;
    background-color: #02897A;
    border-radius: 5px;
    color: #fff;
    margin-bottom: calc(5.8vw + 17.2px);
}
/*managment*/
.main_managmaent{
    display: flex;
    justify-content: space-between;
}
.manage_text{
    margin-top: 100px;
}
.manage_text h3{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    margin-top: calc(1.2vw + 11.23px);
}
.manage_text h2{
    font-size: 32px;
    margin-top: 8px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    color: #22343D;

}
.manage_mini_info{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    margin-top: 12px;
    width: calc(14.8vw + 273.5px);
}
.manage_info{
    width: calc(14.8vw + 273.5px);
    margin-top: calc(0.7vw + 13.2px);
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
}
.manage_img img{
    width: calc(23.8vw + 251.47px);
}
.main_calaborative{
    display: flex;
    justify-content: space-between;
}
.text_colbarative{
    margin-top: 100px;
}
.text_colbarative h3{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    margin-top: calc(1.2vw + 11.23px);
}
.text_colbarative h2{
    font-size: 32px;
    margin-top: 8px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    color: #22343D;

}
.img_colaborative{
    margin-top: 100px;
}
.img_colaborative img{
    width: calc(18.4vw + 274.36px);
}
/*coment*/
.coment{
    background-image: url(img/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.coment h2{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    padding-top: 52px;
    color: #22343D;
}
.coment_name{
    margin-top: calc(1.4vw + 2.4px);
}
.coment p{
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    font-size: 16px;
    text-align: center;
}
.main_coment{
    display: flex;
    justify-content: space-around;
    /*gap: calc(24.7vw - 69.45px);*/
    margin-top: calc(-0.9vw + 43.5px);
}
.ava1{
    display: flex;
    gap: 16px;
}
.ava_text{
    height: 60px;
    width: calc(7.1vw + 198.8px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.ava_text p{
    font-size: 16px;
    margin: 16px 24px 20px;
}
.ava2{
    display: flex;
    margin-top: calc(0.9vw + 35.5px);
    gap: 16px;
}
.coment button{
    padding: 15px 32px;
    border: 1px solid #02897A;
    background-color: #02897A;
    border-radius: 5px;
    color: #fff;
    margin-top: calc(2.7vw + 20.9px);
}
.coment_btn{
    text-align: center;
}
/*strategies*/
.strategies h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #22343D;
    font-size: 34px;
}
.strat_text{
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    font-size: 16px;
    margin-top: 8px;
}
/*support*/
.main_support{
    display: flex;
    gap: 94px;
}
.support_text{
    margin-top: 100px;
}
.support_img img{
    width: calc(19.5vw + 270px);
}
.support_text h3{
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    font-size: 16px;
}
.support_text h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #22343D;
    font-size: 34px;
}
.support_info{
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    font-size: 16px;
    width: calc(13.1vw + 302.16px);
    margin-top: calc(0.9vw + 11.2px);
}
.main_support_box{
    margin-top: calc(1.5vw + 8.78px);
}
.support_box{
    display: flex;
    gap: 30px;
    margin-top: calc(1.4vw + 10.2px);
}
.support_box img{
    width: 35px;
}
.support_box P{
    width: calc(7.9vw + 254.7px);
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    font-size: 16px;
}
/*strategies*/
.main_strategies{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.strat_box_info{
    margin-top: 24px;
}
.strat_box_info :nth-child(1){
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #22343D;
}
.strat_box_info :nth-child(2){
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #22343D;
}
.mini_strat_box{
    width: 348px;
    padding: 24px;
    border: #DEDEDE solid 2px;
}
.mini_strat_box h3{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #22343D;
    margin-top: 12px;
}
.mini_strat_box h3:hover{
    color: #02897A;
}

/*prise*/
.prise h2{
    font-size: 34px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    text-align: center;
}
.prise p{
    margin-top: 8px;
    font-size: 16px;
    color: #22343D;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.main_prise{
    margin-top: calc(-2.3vw + 83.5px);
    display: flex;
    justify-content: space-between;
}
.zero {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
    padding: 20px;
}

.zero h3 {
    font-size: 24px;
    color: #22343D;
    margin-top: 24px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}

.price-description {
    color: #22343D;
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}
.price{
    margin-top: 16px;
}
.price-value {
    font-size: 48px;
    color: #00a37d;
}

.currency {
    font-size: 24px;
    color: #00a37d;
    margin-left: 5px;
}

.per-month {
    color: #888;
    margin-left: 5px;
    font-size: 14px;
}

.prise_information {
    list-style: none;
    margin-top: 16px;
    color: black;
    font-size: 14px;
}
.prise_information li{
    margin-top: 16px;
}
.zero button{
    margin-top: 40px;
}
.five{
    background: #02897A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
    padding: 20px;
}
.five h3 {
    font-size: 24px;
    color: #fff;
    margin-top: 24px;
}
.price-description2 {
    color: #fff;
    margin-top: 8px;
    font-size: 14px;
}
.price-value2 {
    font-size: 48px;
    color: #fff;
}
.currency2 {
    font-size: 24px;
    color: #fff;
    margin-left: 5px;
}
.per-month2 {
    color: #fff;
    margin-left: 5px;
    font-size: 14px;
}
.prise_information2 {
    list-style: none;
    margin-top: 16px;
    color: #fff;
    font-size: 14px;
}
.prise_information2 li{
    margin-top: 16px;
}
.white{
    padding: 12px 14px;
    text-decoration: none;
    color: #02897A;
    background-color: #fff;
    border: #fff solid 2px;
    border-radius: 7px;
}
.five button{
    margin-top: 40px;
}
.ten{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
    padding: 20px;
}
.ten h3 {
    font-size: 24px;
    color: black;
    margin-top: 24px;
}

.price-description {
    color: black;
    margin-top: 8px;
    font-size: 14px;
}
.price{
    margin-top: 16px;
}
.price-value {
    font-size: 48px;
    color: #00a37d;
}

.currency {
    font-size: 24px;
    color: #00a37d;
    margin-left: 5px;
}
.per-month {
    color: #888;
    margin-left: 5px;
    font-size: 14px;
}
.prise_information {
    list-style: none;
    margin-top: 16px;
    color: black;
    font-size: 14px;
}
.prise_information li{
    margin-top: 16px;
}
.ten button{
    margin-top: 40px;
}
.green{
    padding: 15px 32px;
    border: 1px solid #02897A;
    background-color: #02897A;
    border-radius: 5px;
    color: #fff;
}
/*clients*/
.clients h2{
    font-size: 34px;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    color: #22343D;
    text-align: center;
}
.clients_name{
    margin-top: 8px;
    font-size: 16px;
    color: #22343D;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.main_client{
    display: flex;
    justify-content: space-between;
    margin-top: calc(3.1vw + 19.5px);
}
.box{
    width: 328px;
    padding: 26px;
    border: 2px solid #DEDEDE;
    border-radius: 6px;
}
.box img{
    margin-top: 28px;
}
.box p{
    margin-top: 16px;
    color: #22343D;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.box_ava{
    margin-top: 16px;
    display: flex;
    gap: 14px;
}
.box_ava_text{
    margin-top: 30px;
}
.box_ava_text :nth-child(1){
    color: #02897A;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
.box_ava_text :nth-child(2){
    color: #252B42;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}
/*join_companese*/
.comp1{
    display: flex;
    justify-content: center;
}
.main_company{
    width: calc(60.4vw + 122.34px);
    display: flex;
    justify-content: space-around;
    background-color: #02897A;
    border-radius: 32px;
}
.img_company img{
    width: calc(2vw + 341.7px);
}
.text_company{
    margin-top: calc(3vw + 7.57px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_company h2{
    width: calc(18.4vw + 252.6px);
    font-family: 'Poppins',sans-serif;
    font-size: 32px;
    color: #fff;
}
.text_company button{
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: #02897A;
    border: #02897A solid 1px;
    border-radius: 8px;
    margin-bottom: calc(2.4vw + 22px);
}
/*footer*/
.main_footer{
    display: flex;
    justify-content: space-evenly;
}
.logo_footer{
    display: flex;
    gap: 16px;
}
.logo_footer img{
    width: 40px;
    height:36px ;
}
.logo_footer h1{
    color: #173A56;
    font-family: 'Poppins', sans-serif;
    width: 124px;
}
.footer_img{
    margin-top: 25px;
}
.resourses{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.resourses h3{
    margin-bottom: 8px;
}
.resourses span{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #22343D;
}
.staff{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.staff h3{
    margin-bottom: 8px;
}
.staff span{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #22343D;
}
.knowing p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: #22343D;
}
.knowing label{
    display: block;
    margin-bottom: 20px;
}
.knowing button{
    width: 130px;
    background-color: #00a37d;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    border: #00a37d solid 2px;
    border-radius: 8px;
    
}
.footer_info{
    margin-top: 30px; 
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #22343D;
}
@media (max-width:1200px) {
    /*my product*/
    .main_product{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main_coment{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .coment_box2{
        gap: 32px;
        display: flex;
        flex-direction: column-reverse;
    }
    .main_footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:1000px) {
  section{
    padding: 0px  calc(17.6vw - 28.27px);
  }
  .container{
    padding: 0px  calc(17.6vw - 28.27px);
  }
  .logo_sign{
    display: flex;
    flex-direction: column;
}
.logo_sign {
    display: none;
}
.menu {
    display: none;
}
.opened{
    display: block;
}
.close{
    display: block;
}
.burger{
    display: block;
}
.menu{
    display: block;
}
nav{
    display: none;
}
.logo_main{
    gap: 154px;
}
    .main_build{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .build_card{
        text-align: center;
    }
    .main_coment{
        display: flex;
        align-items: center;
    }
    .main_client{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .main_managmaent{
        display: flex;
        flex-direction: column-reverse;
    }
    .main_support{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .support_text{
        margin-top: 0;
    }
    .main_company{
       display: flex;
       flex-direction: column;
         align-items: center;
    }
    .text_company h2 {
        text-align: center;
    }
    .text_company button{
        margin-top: 68px;
        text-align: center;
    
    }
    .main_calaborative{
        display: flex;
        flex-direction: column-reverse;
    }
    .img_colaborative{
        margin-top: 0;
    }
    .logo_footer{
       display: none;
    }
}
@media (max-width:795px) {

    .first{
        width: 308px;
     }
    .main_prise{
        display: flex;
        flex-direction: column;
    }
    .main_company{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .join_companisse{
        margin-left: 0px;
    }
   
  
}